body {
	background-color: rgba(0, 230, 172, 0.5);
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: rgb(89, 89, 89);
}

.main-bar {
	background-color: white;
	margin-top: -8px;
	padding: 5px;
	margin-left: -8px;
	margin-right: -8px;
}


h2 {
	display: inline;
}

.all-recipes {
	margin: 20px;
}

.search-field {
	width: 200px;
	height: 20px;
}

.recipe-name {
	font-size: 20px;
	font-weight: bold;
}
.method-box, .ingredient-box {
	font-weight: bold;
	font-size: 16px;
	margin:20px;
	margin-top:10px;
}

.method-line, .ingredient-line {
	font-weight: normal;
	font-size: 15px;
}

img {
	width: 300px;
	height: 300px;
	padding: 20px;
}

.recipe {
	text-align: center;
	margin: auto;
	margin-top: 10px;
	width: 700px;
}

a {
	font-size: 25px;
	color: rgb(89, 89, 89);
}

a:hover {
	color: rgb(140, 140, 140)
}

.show-favorites {
	padding-right: 10px;
	float: right;
	font-size: 15px;
}

.favorites {
	font-size: 14px;
}

.input-search, .random-search, .latest-search {
	border: none;
	background-color: white;
	font-size: 14px;
	color:rgb(89, 89, 89);;
}

.random-search {
	margin-top: 5px;
	margin-left: -60px;
}}

.input-search {
	font-size: 12px;
}